[Unit]
Description={{ APP }}
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName={{ APP }}
Image={{ IMAGE_NAME }}:{{ IMAGE_TAG }}
AutoUpdate=registry
Timezone=local

Environment=PIHOLE_UID={{ ANSIBLE_USER_ID }}
Environment=PIHOLE_GID={{ ANSIBLE_USER_ID }}
Environment=FTLCONF_webserver_api_password=''

AddCapability=NET_ADMIN
AddCapability=NET_BIND_SERVICE
AddCapability=NET_RAW
AddCapability=SYS_NICE
AddCapability=SYS_TIME
AddCapability=CHOWN

HostName={{ APP }}
Network={{ NETWORK }}.network
PublishPort={{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
PublishPort={{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/tcp
PublishPort={{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/udp

Volume=%h/containers/storage/{{ APP }}/config:/etc/{{ APP }}:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target