---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - --config.file=/etc/{{ APP }}/{{ APP }}.yaml
    environment:
      - TZ=Europe/Stockholm
    volumes:
      - /opt/stacks/{{ APP }}/config/{{ APP }}.yaml:/etc/{{ APP }}/{{ APP }}.yaml:ro
      - {{ APP }}-data:/{{ APP }}:rw
      - /etc/localtime:/etc/localtime:ro
    ports:
      - {{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/tcp
      - {{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/tcp
    networks:
      - {{ NETWORK }}

volumes:
  {{ APP }}-data:
    external: true

networks:
  {{ NETWORK }}:
    external: true
