[Unit]
Description={{ APP }}
Wants=network-online.target
After=network-online.target local-fs.target mariadb.service
Requires=mariadb.service

[Container]
ContainerName={{ APP }}
Image={{ IMAGE_NAME }}:{{ IMAGE_TAG }}
AutoUpdate=registry
Timezone=local

EnvironmentFile={{ APP }}.env

User=0:0

HostName={{ APP }}
Network={{ NETWORK }}.network
PublishPort={{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp

Volume=%h/containers/storage/{{ APP }}:/{{ APP }}/storage:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target