[Unit]
Description={{ APP }}
Wants=network-online.target
After=network-online.target local-fs.target redis.service
Requires=redis.service

[Container]
ContainerName={{ APP }}
Image={{ IMAGE_NAME }}:{{ IMAGE_TAG }}
AutoUpdate=registry
Timezone=local

EnvironmentFile={{ APP }}.env

HostName={{ APP }}
Network={{ NETWORK }}.network
PublishPort={{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp

Volume=%h/containers/storage/{{ APP }}/consume:/usr/src/{{ APP }}/consume:rw,Z
Volume=%h/containers/storage/{{ APP }}/data:/usr/src/{{ APP }}/data:rw,Z
Volume=%h/containers/storage/{{ APP }}/export:/usr/src/{{ APP }}/export:rw,Z
Volume=%h/containers/storage/{{ APP }}/media:/usr/src/{{ APP }}/media:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target