---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file: .env
    volumes:
      - /opt/stacks/{{ APP }}/data:/home/filebrowser/data:rw
      - /home/troy:/mnt/home-troy:rw
      - /mnt:/mnt/host-mnt:rw
      - /opt/stacks:/mnt/host-opt:rw
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    healthcheck:
      disable: true
    networks:
      - {{ NETWORK }}

networks:
  {{ NETWORK }}:
    external: true
