---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    cap_add:
      - NET_ADMIN
      - NET_BIND_SERVICE
      - NET_RAW
      - SYS_TIME
      - SYS_NICE
      - CHOWN
    ports:
      - {{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/tcp
      - {{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/tcp
      - {{ PORT_NUMBER3 }}:{{ PORT_NUMBER3 }}/tcp
      - {{ PORT_NUMBER3 }}:{{ PORT_NUMBER3 }}/udp
    volumes:
      - /home/{{ USER }}/containers/storage/{{ APP }}/config:/etc/pihole:rw
      - /etc/localtime:/etc/localtime:ro
    networks:
      - {{ NETWORK }}
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - logging=promtail
      - logging_jobname=containerlogs

networks:
  {{ NETWORK }}:
    external: true