[Unit]
Description={{ APP }}
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName={{ APP }}
Image={{ IMAGE_NAME }}:{{ IMAGE_TAG }}
AutoUpdate=registry
Timezone=local

EnvironmentFile={{ APP }}.env

HealthCmd=none

UserNS=keep-id:uid=1000,gid=1000

HostName={{ APP }}
Network={{ NETWORK }}.network
PublishPort={{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp

Volume=%h/containers/storage/{{ APP }}/config:/config:rw,Z
Volume=%h/containers/storage/{{ APP }}/database:/database:rw,Z
Volume=/:/srv:rw

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target