---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    command:
      - --config.file=/etc/{{ APP }}/{{ APP }}.yaml
    user: "${UID}:{{ docker_gid }}"
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    volumes:
      - /home/{{ USER }}/containers/storage/{{ APP }}/config/{{ APP }}.yaml:/etc/{{ APP }}/{{ APP }}.yaml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/log:/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - {{ NETWORK }}
    labels:
      - com.centurylinklabs.watchtower.enable=true
      - logging=promtail
      - logging_jobname=containerlogs

networks:
  {{ NETWORK }}:
    external: true