---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment: .env
    volumes:
      - /opt/stacks/{{ APP }}/data:/data:rw
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    user: ${UID:-1000}:${GID:-1000}
    networks:
      - {{ NETWORK }}

networks:
  {{ NETWORK }}:
    external: true
