---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
    volumes:
      - /opt/stacks/{{ APP }}/config:/etc/{{ APP }}:ro
      - {{ APP }}-data:/var/lib/{{ APP }}:rw
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    networks:
      - {{ NETWORK }}

volumes:
  {{ APP }}-data:
    name: {{ APP }}-data
    external: true

networks:
  {{ NETWORK }}:
    external: true
