---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
    user: ${UID:-1000}:${GID:-1000}
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    volumes:
      - /home/{{ USER }}/containers/storage/{{ APP }}/config/{{ APP }}.ini:/etc/{{ APP }}/{{ APP }}.ini:rw
      - /home/{{ USER }}/containers/storage/{{ APP }}/dashboards:/etc/{{ APP }}/dashboards:ro
      - /home/{{ USER }}/containers/storage/{{ APP }}/provisioning:/etc/{{ APP }}/provisioning:ro
      - {{ APP }}-data:/var/lib/{{ APP }}:rw
      - /etc/localtime:/etc/localtime:ro
    networks:
      - {{ NETWORK }}

volumes:
  {{ APP }}-data:
    external: true

networks:
  {{ NETWORK }}:
    external: true