---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - --config.file=/etc/{{ APP }}/{{ APP }}.yaml
      - --web.enable-remote-write-receiver
      - --web.enable-lifecycle
      - --web.enable-admin-api
    environment:
      - TZ=Europe/Stockholm
    volumes:
      - /opt/stacks/{{ APP }}/config/{{ APP }}.yaml:/etc/{{ APP }}/{{ APP }}.yaml:ro
      - {{ APP }}-data:/{{ APP }}:rw
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    user: {{ NOBODY }}:{{ NOBODY }}
    networks:
      - {{ NETWORK }}

volumes:
  {{ APP }}-data:
    external: true

networks:
  {{ NETWORK }}:
    external: true
