---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
      - PUID=1000
      - PGID=1000
    volumes:
      - /opt/stacks/{{ APP }}/config:/config:rw
      - /opt/stacks/{{ APP }}/config:/watch:rw
    ports:
      - {{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/tcp
      - {{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/tcp
      - {{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/udp
    networks:
      - {{ NETWORK }}

networks:
  {{ NETWORK }}:
    external: true
