---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
      - USER_UID=1000
      - USER_GID=1000
    volumes:
      - /opt/stacks/{{ APP }}/config:/data:rw
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    networks:
      - {{ NETWORK }}

networks:
  {{ NETWORK }}:
    external: true
