---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file: .env
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    networks:
      - {{ NETWORK }}

networks:
  {{ NETWORK }}:
    external: true
