---
- name: Update apt
  ansible.builtin.apt:
    update_cache: true

- name: Upgrade distibution
  ansible.builtin.apt:
    upgrade: dist

- name: Update all package
  ansible.builtin.apt:
    name: "*"
    state: latest

- name: Remove dependencies
  ansible.builtin.apt:
    autoremove: yes

- name: Set timezone
  ansible.builtin.timezone:
    name: "{{ TIMEZONE }}"

- name: Create SSH directory for the root user
  ansible.builtin.file:
    path: "/{{ ANSIBLE_USER }}/.ssh"
    state: directory
    mode: '0700'

- name: Add SSH key to root user's authorized_keys
  ansible.builtin.authorized_key:
    user: "{{ ANSIBLE_USER }}"
    key: "{{ lookup('file', SSH_KEY_PATH) }}"
    state: present

- name: Generate password hash
  ansible.builtin.set_fact:
    hashed_password: "{{ NEW_USER_PASSWORD | password_hash('sha512') }}"

- name: Add user
  ansible.builtin.user:
    name: "{{ NEW_USER_NAME }}"
    comment: "{{ NEW_USER_FULLNAME }}"
    uid: 1000
    group: 1000
    create_home: yes
    state: present
    groups: sudo
    append: true
    password: "{{ hashed_password }}"

- name: Configure sudo privileges for new user
  ansible.builtin.copy:
    dest: /etc/sudoers.d/{{ NEW_USER_NAME }}
    content: "{{ NEW_USER_NAME }} ALL=(ALL) NOPASSWD:ALL"
    mode: '0440'
    validate: /usr/sbin/visudo -cf %s

- name: Create .ssh directory
  ansible.builtin.file:
    path: "/home/{{ NEW_USER_NAME }}/.ssh"
    state: directory
    mode: '0700'

- name: Add SSH key to authorized_keys
  ansible.builtin.authorized_key:
    user: "{{ NEW_USER_NAME }}"
    key: "{{ lookup('file', SSH_KEY_PATH) }}"
    state: present

- name: Create custom SSH config
  ansible.builtin.copy:
    dest: /etc/ssh/sshd_config.d/60-local.conf
    content: |
      HostKey /etc/ssh/ssh_host_ed25519_key
      PermitRootLogin no
      PubkeyAuthentication yes
      PasswordAuthentication no
    mode: '0600'
  notify: restart ssh
  
- name: Install packages
  ansible.builtin.apt:
    name:
      - curl
      - git
      - gpg
      - htop
      - nala
      - tree
      - vim
      - zsh
    state: present

- name: Install security packages
  ansible.builtin.apt:
    name:
      - fail2ban
      - unattended-upgrades
      - ufw
    state: present

- name: Create fail2ban jail.local file
  ansible.builtin.copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      ignoreip = 127.0.0.1/8 ::1 10.1.2.10
      bantime = 3600
      findtime = 600
      maxretry = 5
      
      [sshd]
      enabled = true
      backend = systemd

- name: Start and enable fail2ban service
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: yes

- name: Update firewall for OpenSSH
  ansible.builtin.ufw:
    rule: allow
    name: OpenSSH
    state: enabled

- name: Enable UFW
  ansible.builtin.ufw:
    state: enabled
    policy: deny

- name: Install unattended-upgrades
  ansible.builtin.apt:
    name: unattended-upgrades
    state: present

- name: Enable unattended-upgrades
  ansible.builtin.debconf:
    name: unattended-upgrades
    question: unattended-upgrades/enable_auto_updates
    value: "true"
    vtype: boolean

- name: Configure unattended-upgrades
  ansible.builtin.blockinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    create: yes
    block: |
      Unattended-Upgrade::Allowed-Origins {
          "${distro_id}:${distro_codename}";
          "${distro_id}:${distro_codename}-security";
          "${distro_id}ESMApps:${distro_codename}-apps-security";
          "${distro_id}ESM:${distro_codename}-infra-security";
      };
      Unattended-Upgrade::AutoFixInterruptedDpkg "true";
      Unattended-Upgrade::MinimalSteps "true";
      Unattended-Upgrade::InstallOnShutdown "false";
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Automatic-Reboot "false";

- name: Configure automatic updates
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Download-Upgradeable-Packages "1";
      APT::Periodic::Unattended-Upgrade "1";
      APT::Periodic::AutocleanInterval "7";

- name: Start and enable unattended-upgrades service
  ansible.builtin.service:
    name: unattended-upgrades
    state: started
    enabled: yes

- name: Edit console
  ansible.builtin.copy:
    dest: /etc/issue
    content: |
      \S
      Kernel \r on an \m
      \d \t
      ens160: \4{ens160}

    mode: '0644'