---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ HOSTNAME }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command:
      - run 
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - --stability.level=experimental
      - /etc/alloy/config.alloy
    environment:
      - TZ=Europe/Stockholm
      - ALLOY_HOSTNAME={{ HOSTNAME }}
    pid: host
    volumes:
      - /opt/stacks/{{ APP }}/config/config.alloy:/etc/{{ APP }}/config.alloy:ro
      - {{ APP }}-data:/var/lib/{{ APP }}/data:rw
      - /:/rootfs:ro
      - /run:/run:ro
      - /run/udev/data:/run/udev/data:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /var/log:/var/log:ro
      - /var/log/journal:/var/log/journal:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - {{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/tcp
      - {{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/udp
    user: 0:0
    networks:
      - {{ NETWORK }}

volumes:
  {{ APP }}-data:
    external: true

networks:
  {{ NETWORK }}:
    external: true
