---
services:
  {{ APP }}:
    image: {{ IMAGE_NAME }}:{{ IMAGE_TAG }}
    container_name: {{ APP }}
    hostname: {{ APP }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      - TZ=Europe/Stockholm
    ports:
      - {{ PORT_NUMBER }}:{{ PORT_NUMBER }}/tcp
    volumes:
      - /home/{{ USER }}/containers/storage/{{ APP }}/config:/myspeed/data:rw
      - /etc/localtime:/etc/localtime:ro
    networks:
      - {{ NETWORK }}

networks:
  {{ NETWORK }}:
    external: true