[Unit]
Description={{ APP }}
Wants=network-online.target
After=network-online.target local-fs.target

[Container]
ContainerName={{ APP }}
Image={{ IMAGE_NAME }}:{{ IMAGE_TAG }}
AutoUpdate=registry
Timezone=local

EnvironmentFile={{ APP }}.env

HostName={{ APP }}
Network=host
PublishPort={{ PORT_NUMBER1 }}:{{ PORT_NUMBER1 }}/tcp
PublishPort={{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/tcp
PublishPort={{ PORT_NUMBER2 }}:{{ PORT_NUMBER2 }}/udp
PublishPort={{ PORT_NUMBER3 }}:{{ PORT_NUMBER3 }}/tcp

Volume=%h/containers/storage/{{ APP }}/config:/etc/dns:rw,Z

[Service]
NoNewPrivileges=true
Restart=on-failure
TimeoutStartSec=300
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target default.target